<div class="main-content">
    <div>
        <div class="container-fluid">
            <div class="grid-container">
                <!-- loop over the collection of product-->
                <div *ngFor="let tempProduct of products" class="column-m">
                    <div class="product-box">
                        <img src="{{ tempProduct.imageUrl}}" class="img-responsive" />
                        <h1>{{ tempProduct.name}}</h1>
                        <div class="price">{{ tempProduct.unitPrice | currency: 'USD'}}</div>
                        <a href="" class="primary-btn">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>